@{
    ViewData["Title"] = "Home Page";
}

<body>


<div class="container" id="box">
    <div class="box">
        <div class="content">
            <h1 style="color: white">Welcome</h1>
            <img src="~/lecLogo.png">
            <hr>
                <a style="color: white; font-size: x-large; text-decoration: none;" href="https://lolesports.com/schedule?leagues=lec">Check out the LEC schedule here!</a>
            </div>
                <a style="color: white; font-size: x-large; text-decoration: none;" href="https://www.youtube.com/watch?v=PJLPc5Qupg8">And the latest popquiz here!</a>
    </div>
</div>

</body>
