@model List<UserViewModel>
@{
    ViewBag.Title = "Leaderboards";
}

<body>
    <div class="container" id="box">
        <ul>
            @foreach (var item in Model)
            {
                <li><h3>@item.Username @item.Points</h3> </li>
            }

        </ul>

   </div>
</body>
