@model List<UserViewModel>
@{
    ViewBag.Title = "Leaderboards";
}

<body>
    <div class="container" id="box">
        <ul>
            @foreach (var item in Model)
            {
                <li><h3>@item.Username @item.Points <a asp-controller="Leaderboards" asp-action="Inspect" asp-route-userId="Guid.Parse(_userManager.GetUserId(User))">Inspect</a></h3> </li>
            } 

        </ul>

   </div>
</body>
