@model MyTeamViewModel

@using Esports.Data.Helpers.Contracts

@inject IImageConverter imageConverter

@{
    ViewBag.Title = "MyTeam";
}

<body>
<div class="container" id="box">
    <div class="box">
        <div class="content">
            <button id="Add-Player-Button">+</button>
            <button id="Add-Player-Button">+</button>
            <button id="Add-Player-Button">+</button>
            <button id="Add-Player-Button">+</button>
            <button id="Add-Player-Button">+</button>
        </div>

        <div class="openBox" id="popupbox">
                <ul >
                    <li><button style="display:inline" id="topBtn">TOP</button></li>
                    <li><button style="display:inline" id="jngBtn">JNG</button></li>
                    <li><button style="display:inline" id="midBtn">MID</button></li>
                    <li><button style="display:inline" id="adcBtn">ADC</button></li>
                    <li><button style="display:inline" id="supBtn">SUP</button></li>
                </ul>
                <div style="color:white" id="target"></div>
            <button id="closeBtn">add</button>
        </div>

        
    </div>
</div>

    <script src="~/js/site.js"></script>
</body>
