@{
    ViewBag.Title = "MyTeam";
}

<body>
<div class="container" id="box">
    <div class="box">
        <div class="content">
            <button id="Add-Player-Button" asp-controller="UserTeamController" asp-action="AddPlayer">+</button>
            <button id="Add-Player-Button">+</button>
            <button id="Add-Player-Button">+</button>
            <button id="Add-Player-Button">+</button>
            <button id="Add-Player-Button">+</button>
        </div>

        <div class="openBox" id="popupbox">
            <button id="closeBtn">add</button>
        </div>

        
    </div>
</div>

    <script src="~/js/site.js"></script>
</body>
