@model List<AddPlayerViewModel>

@using Esports.Data.Helpers.Contracts

@inject IImageConverter imageConverter

@{
    ViewBag.Title = "MyTeam";
}

<body>
<div class="container" id="box">
    <div class="box">
        <div class="content">
            <button id="Add-Player-Button" asp-controller="UserTeamController" asp-action="AddPlayer">+</button>
            <button id="Add-Player-Button">+</button>
            <button id="Add-Player-Button">+</button>
            <button id="Add-Player-Button">+</button>
            <button id="Add-Player-Button">+</button>
        </div>

        <div class="openBox" id="popupbox">
                <ul style="display:inline">
                    <li><button>TOP</button></li>
                    <li><button>JNG</button></li>
                    <li><button>MID</button></li>
                    <li><button>ADC</button></li>
                    <li><button>SUP</button></li>
                </ul>
                @foreach (var item in Model)
                {
                    <div style="width:20px; height:20px;"><img src="@imageConverter.ConvertToImage(item.Image)"></img> </div>
                }
            <button id="closeBtn">add</button>
        </div>

        
    </div>
</div>

    <script src="~/js/site.js"></script>
</body>
