@using Esports.Services.Contracts
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> _userManager
@model UserPacksViewModel

@inject IPackService packsService
@{
    bool hasUserClaimedFreeReward = packsService.HasClaimedFreePack(Guid.Parse(_userManager.GetUserId(User)));
}
@{
    ViewBag.Title = "Packs";
}

<body>
    <div class="container" id="box">
        <h1 style="color: white; margin-top: 10px; margin-left: 10px;">MY PACKS</h1>
        <hr>
        @if (!hasUserClaimedFreeReward)
        {
            <a asp-controller="Packs" asp-action="GetFreePack">GET FREE PACK</a>
        }
        else
        {
            if (Model.UserPacks.Any(x => x.Key == Guid.Parse(_userManager.GetUserId(User))))
            {
                foreach (var item in Model.UserPacks.First().Value)
                {
                    <ul>
                        <li style="list-style: none;">
                            <div>
                            @if (item == 0)
                            {
                                <img src="~/freePack.png" id="pack-image">
                            }
                            else
                            {
                                    <img src="~/normalPack.png" id="pack-image">
                            }
                            <a style="text-decoration: none; color: white; font-size: xx-large" asp-controller="Packs" asp-action="RewardsFromPack" asp-route-packId="@item"> &lt-- click me to open!</a>
                            </div>
                        </li>
                    </ul>
                }
            }
            else
            {
                <div>You have no packs.</div>
            }


        }

    </div>

    
</body>

