@using Esports.Services.Contracts
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> _userManager
@model UserPacksViewModel

@inject IPackService packsService
@{
    bool hasUserClaimedFreeReward = packsService.HasClaimedFreePack(Guid.Parse(_userManager.GetUserId(User)));
}
@{
    ViewBag.Title = "Packs";
}

<body>
    <div class="container" id="box">
        <h1>MY PACKS</h1>
        @if (!hasUserClaimedFreeReward)
        {
            <a asp-controller="Packs" asp-action="GetFreePack">GET FREE PACK</a>
        }
        else
        {
            if (Model.UserPacks.Any())
            {
                foreach (var item in Model.UserPacks.First().Value)
                {
                    <ul>
                        <li>
                            @item
                            <a asp-controller="Packs" asp-action="RewardsFromPack" asp-route-packId="@item">&lt-- click to open!</a>
                        </li>
                    </ul>
                }
            }
            else
            {
                <div>Sorry u borke! </div>
            }


        }

    </div>

    
</body>

