@model OpenedPackViewModel
@{
    ViewBag.Title = "Rewards";
}


<body>
    <div class="container" id="box">
        <h1>Here are your rewards!</h1>
    </div>
    <ul>
        @foreach (var item in Model.Players)
        {
            <li style="display:inline">@item.Name </li>
        }
        
    </ul>

</body>

