<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Esports</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Esports.styles.css" asp-append-version="true" />
</head>

<body id="background_image">
    <div id="header"> 
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item" id="header_list_group_item"><a id="header-item-font" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="list-group-item" id="header_list_group_item"><a id="header-item-font" asp-controller="Home" asp-action="MyTeam">My Team</a></li>
            <li class="list-group-item" id="header_list_group_item"><a id="header-item-font" asp-controller="Home" asp-action="Leaderboards">Leaderboards</a></li>
            <li class="list-group-item" id="header_list_group_item"><a id="header-item-font" asp-controller="Home" asp-action="Packs">Packs</a></li>
            <li class="list-group-item" id="header_list_group_item"><a id="header-item-font" asp-controller="Home" asp-action="Live">Live</a></li>
            <li style="width: auto"><partial name="_LoginPartial" /></li>
        </ul>
        
    </div>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
