html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 50px;
    overflow: hidden;
}

#login-register-fields {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: dimgray;
    border-color: darkgray;
    color: white;
}

#login-submit {
    background-color: steelblue;
}

#registerSubmit {
    background-color: steelblue;
}

#background-image {
    background-image: url('../SortedOutBackground.png');
    background-size: cover;
}

#login-register-background-image {
    background-image: url('../loginRegister.png');
    background-size: cover;
}

#header {
    width: 100%;
    height: 50px;
    background-color:black;
}
#header-list-group-item {
    width: auto;
    margin-left: 15px;
    background: none;
    border:none;
    color: white;
    font: bold;
    top: 10px;
    text-decoration:none;
    text-align: left;
    display: inline;
}


#box {
    background: rgba(0,0,0,0.9);
    width: 100%;
    max-width: 1450px;
    height: 595px;
    margin-top: 50px;
    scroll-padding-bottom: 50px;
    border-radius:25px;
}

#header-item-font {
    text-decoration:none;
    color:white;
    font:bold;
    background: none;
    border: none;
}



#popupbox {
    z-index: 9999;
    width: 440px;
    height: 500px;
    background-color: black;
    color: white;
    border-style: solid;
    border-color: dimgray;
    position: fixed;
    top: 110px;
    left: 545px;
    visibility: hidden;
}

#Add-Player-Button {
    position: initial;
    background-color: black;
    border-style: dashed;
    border-color: dimgray;
    width: 200px;
    height: 250px;
    margin: 25px;
    color: white;
}

#team-player-ingamename {
    color: white;
    position: absolute;
    top: 77%;
    font-size: x-large;
    font: bold;
}

#image-text-container {
    position: relative;
    color: white;
    background-color: black;
    margin: 25px;
    width: 200px;
    height: 250px;
    border-style: dashed;
    border-color: white;
    flex: 10%;
    padding: 5px;
}
#team-image {
    position: relative;
    left: -13px;
    
}

#popupbox.open {
    visibility: visible;
}
#close-popup-box {
    position: absolute;
    color: white;
    width: 10px;
    height: 10px;
    bottom: 25px;
    right: 55%;
    font-size: large;
    font: bolder;
    border: none;
    background:none;
}



#row {
    display: flex;
}

#close-team-popup-btn {
    
}

#roles-btn-container {
    position: absolute;
    left: 8%;
}

.roles-team-btn {
    color: lightgray;
    width: 50px;
    margin-top: 5px;
    margin-left: 1px;
    margin-right: 1px;
    background-color: black;
    border-style: solid;
    border-color: dimgrey;
    border-width: medium;
}

.roles-team-btn.selectedBorder {
    color: white;
    border-color: lightgray;
    border-width: medium;
}

#target {
    position: relative;
    top: 50px;
    margin-left:20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    gap: 10px 10px;
}

#popup-image-text-container {
    position: relative;
    color: white;
    background-color: black;
    width: 100px;
    height: 125px;
    padding: 5px;
    flex: 5%;
}

#team-popupbox-image {
    height: 100px;
    width: 125px;
}

#popup-help-text {
    color: slategray;
    font-size: small;
    position: absolute;
    bottom: 35px;
    right: 35%;
}



#name {
    color: lightgray;
    position: absolute;
    top: 67%;
    font-size: medium;
}

#team-rules-points-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#team-rules-text {
    flex: 1%;
}

#lb-table {
    position: absolute;
    margin: 25px;
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;

}

#lb-table-items {
    color: white;
    list-style: none;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: gray;
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: gray;
    font: bold;
    flex: 1%;
}

#lb-table-items-elements {
    display: inline-block;
}







