html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 50px;
    overflow: hidden;
}

#background-image {
    background-image:url('../drakos.gif');
    background-size:cover;
    
}

#header {
    width: 100%;
    height: 50px;
    background-color:black;
}
#header-list-group-item {
    width: auto;
    margin-left: 15px;
    background: none;
    border:none;
    color: white;
    font: bold;
    top: 10px;
    text-decoration:none;
    text-align: left;
    display: inline;
}


#box {
    background: rgba(0,0,0,0.9);
    width: 100%;
    max-width: 1450px;
    height: 595px;
    margin-top: 50px;
    scroll-padding-bottom: 50px;
    border-radius:25px;
}

#header-item-font {
    text-decoration:none;
    color:white;
    font:bold;
    background: none;
    border: none;
}



#popupbox {
    z-index: 9999;
    width: 400px;
    height: 500px;
    background-color: black;
    color: white;
    position: fixed;
    top: 110px;
    left: 545px;
    visibility: hidden;
}

#Add-Player-Button {
    position: initial;
    background-color: black;
    border-style: dashed;
    border-color: dimgray;
    width: 200px;
    height: 250px;
    margin: 25px;
    color: white;
}

#team-player-ingamename {
    color: white;
    position: absolute;
    top: 77%;
    font-size: x-large;
}

#image-text-container {
    position: relative;
    color: white;
    background-color: black;
    margin: 25px;
    width: 200px;
    height: 250px;
    border-style: dashed;
    border-color: white;
    flex: 10%;
    padding: 5px;
}
#team-image {
    position: relative;
    left: -13px;
    
}

#popupbox.open {
    visibility: visible;
}
#close-popup-box {
    visibility: hidden;
}



#row {
    display: flex;
}

#close-team-popup-btn {
    
}

#roles-btn-container {
    position: absolute;
    left: 6%;
}

.roles-team-btn {
    color: lightgray;
    width: 50px;
    margin-top: 5px;
    margin-left: 1px;
    margin-right: 1px;
    background-color: black;
    border-style: solid;
    border-color: dimgrey;
    border-width: medium;
}

.roles-team-btn.selectedBorder {
    color: white;
    border-color: lightgray;
    border-width: medium;
}

#target {
    position: relative;
    top: 50px;
    display: flex;
}

#popup-image-text-container {
    position: relative;
    color: white;
    background-color: black;
    width: 100px;
    height: 125px;
    flex: 5%;
}

#team-image {
    height: 100px;
    width: 125px;
}



#name {

}






