html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 50px;
    overflow: hidden;
}

#background_image {
    background-image:url('../drakos.gif');
    background-size:cover;
    
}

#header {
    width: 100%;
    width: inherit;
    height: 50px;
    background-color:black;
}
#header_list_group_item {
    width: auto;
    margin-left: 15px;
    background: none;
    border:none;
    color: white;
    font: bold;
    text-align: left;
}

#box {
    background: rgba(0,0,0,0.9);
    width: 100%;
    max-width: 1450px;
    height: 595px;
    margin-top: 50px;
    scroll-padding-bottom: 50px;
    border-radius:25px;
}

#header-item-font {
    text-decoration:none;
    color:white;
    font:bold;
}

#Add-Player-Button {
    background-color: black;
    border-style: dashed;
    border-color: dimgray;
    width: 200px;
    height: 300px;
    margin: 25px;
    color: white;
}

#popupbox {
    z-index: 9999;
    width: 400px;
    height: 500px;
    background-color: black;
    color: white;
    position: fixed;
    top: 110px;
    left: 545px;
    visibility: hidden;
}
#popupbox.open {
    visibility: visible;
}
#close-popup-box {
    visibility: hidden;
}

#pic {
    height: 50px;
    width: 50px;
}

