@model InspectUserViewModel

@inject IImageConverter _imageConverter

@{
    ViewBag.Title = "Inspect";
}
<body>
    <div class="container" id="box">
        <div>@Model.Username</div>
        <ul>
            @foreach (var item in Model.Team)
            {
                <li><img style="width:30px; height:30px;" src="@_imageConverter.ConvertToImage(item.Image)">@item.Nickname </li>
            }
        </ul>
    </div>
</body>